{{>header}} 

<section class="trade">
    {{#if sum}}
        <h1>Your current sales is: $<span> {{sum}} </span> </h1>

    
    {{else}}

        <h1>You have no sales yet</h1>
    {{/if}}


</section>